
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@100.3,300..700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}
img { max-width: 100%; }

html {
    font-family: sans-serif;
}

body.final{
    background-image: url("final.jpg");
    background-size: cover;
}


body {
    background-image: url("planche.png"),  url("sc8ggi.webp");
    background-size: 280vh,cover;
    background-position: center;
    background-attachment: fixed;

    height: 100vh;
    display: flex;
}

/* mise en page */

section {
    height: 621px;
    min-width: 814px;
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}
section .image { flex: 1 0 auto; }
section .texte { flex: 0 1 auto; }

article.cadre{
    display: flex;
}

p{
    column-width: 300px;
  column-gap: 30px;
}

.sec1 {
    background: none;

    color: aliceblue;

    display: flex;              /* active le flexbox */
    justify-content: center;    /* centre horizontalement */
    align-items: center;        /* centre verticalement */

    text-align: center;         /* optionnel : centre le texte */
}

.sec2 {
    background-image: url("paper.jpg");
    background-size: cover;

    justify-content: center;    /* centre horizontalement */
}

.sec2 article{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    
    align-self: center;
    margin: 40px;
    background-color: rgb(91%, 95%, 100%);
    outline: 2px solid rgb(38%, 55%, 70%);
    filter: drop-shadow(-4px 4px 0px rgb(38%, 55%, 70%));
    max-width: fit-content;
}

.sec3 article{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    
    align-self: center;
    margin: 40px;
    background-color: rgb(91%, 95%, 100%);
    outline: 2px solid rgb(38%, 55%, 70%);
    filter: drop-shadow(-4px 4px 0px rgb(38%, 55%, 70%));
    max-width: fit-content;
}

.sec3 h1.sous-titre{
letter-spacing: 0.18em;
text-transform: uppercase;
text-align: center;
background-color: rgb(38%, 55%, 70%);
color: rgb(91%, 95%, 100%);
}
.sec3 p{
    padding: 20px;
    text-align: center;
}



.couverture article{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    
    align-self: center;
    margin: 40px;
    background-color: rgb(91%, 95%, 100%);
    outline: 2px solid rgb(38%, 55%, 70%);
    filter: drop-shadow(-4px 4px 0px rgb(38%, 55%, 70%));
    max-width: fit-content;
}

.cadre p{
    margin: 20px;
}

.sec2 p{
    margin: 20px;
}

.page1{
    padding-bottom: 20px;
}

.sec2 h1.sous-titre{
letter-spacing: 0.18em;
text-transform: uppercase;
text-align: center;
background-color: rgb(38%, 55%, 70%);
color: rgb(91%, 95%, 100%);
}

img.image1{
    border-radius: 2rem;
    min-height: 100px;
    min-width: 200px;
}

article.page2{
    width: fit-content;
    height: fit-content;
    border-radius: 2rem;
}


:root{
    --bsize: 2;
}

/*bandrole*/
h1.Bandrole {

font-size: 54px;
height: calc( 1.07em * var(--bsize) );
white-space: nowrap;
margin-left: 4em;
position: relative;
    width: min-content;
padding-left: 0.2em;
padding-right: 0.2em;

/*padding-bottom: 20%;*/
background-image: url("bannière/Manual-page-15_0005_Calque-4.png");
background-repeat: repeat-x;
background-size: cover;
color: rgb(91%, 95%, 100%);
padding-top: 0.4em;

}

h1.Bandrole:before {
    position: absolute;
    top: 0em;
    left: calc( -1.5em * var(--bsize) );
    display: inline-block;
    content: "X"; color:#0000;
    width: calc( 1.5em * var(--bsize) );
    height: calc( 1.41em * var(--bsize) );
    background-image: url("bannière/bannière_0007_Calque-8.png");
    background-size: contain;
}

h1.Bandrole:after {
    position: absolute;
    top: 0em;
    right: calc( -1.5em * var(--bsize) );
    aspect-ratio: 1;
    display: inline-block;
    content: "X"; color:#0000;
    width: calc( 1.5em * var(--bsize) );
    height: calc( 1.41em * var(--bsize) );
    background-image: url("bannière/bannière_0007_Calque-8.png");
        background-size: contain;
    transform: scaleX(-1);
}


/* colonnes */
.row {
    display: flex;
    gap: 1rem;
}
.row > * { 
    flex: 1;
}

.couverture{
    background-image: url("page\ 1.webp");
}

/*
section { outline: 2px solid blue; outline-offset: -4px; }
.texte { outline: 2px solid red; outline-offset: -2px; }
.image { outline: 2px solid purple; outline-offset: 0px;} */

/* scrolling */
html, body { scroll-snap-type: x mandatory; }
section { scroll-snap-align: start; }